@use "variables";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary__color;
  height: 250px;
  color: white;
}

.footer__container {
  max-width: 1200px;
}

.footer__navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__logo {
    display: flex;
    justify-content: start;
    width: 10%;
    padding: 2rem;
  }

  .footer__navbar {
    display: flex;
    justify-content: start;
    width: 100%;

    ul {
      display: flex;

      li {
        color: variables.$text__color;
        padding: 8px 15px;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
          color: variables.$tertiary__color;
        }
      }
    }
  }

  .footer__lenguage {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

.footer__social__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__terms {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  h3 {
    font-size: 0.8rem;
    margin: 1rem 0;
  }

  p {
    font-size: 0.7rem;
  }
}
.footer__social {
  width: 30%;

  ul{
    display: flex;

    li {
      color: variables.$text__color;
      padding: 8px 15px;
      font-size: 0.7rem;
      cursor: pointer;

      &:hover {
        color: variables.$tertiary__color;
      }
      
    }
  }
}
