@use "variables";

@mixin media-query($media: 480px) {
  @media screen and (max-width: $media) {
    @content;
  }
}

.header {
  display: flex;
  justify-content: center;
  background-color: variables.$primary__color;
}

.header__container {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  
  
}

.header__logo__container {
  display: flex;
  justify-content: start;
  width: 20%;
  
  @include media-query(640px) {
    width: 50%;
  }

  p {
    color: variables.$text__color;
    font-size: 2rem;
    
    @include media-query(640px) {
      font-size: 1.2rem;
    }
  }
}

.header__nav__container {
  width: 100%;
  @include media-query(640px) {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: variables.$primary__color;
    z-index: 5;
    
  }

  .header__navbar {

    ul {
      display: flex;
      justify-content: start;

      li {
        a {
          color: variables.$text__color;
          padding: 8px 15px;
          font-size: 0.8rem;
          cursor: pointer;

          &:hover {
            color: variables.$tertiary__color;
          }
        }
      }
    }
  }
}

.header__button__container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 25%;
  @include media-query(640px) {
    width: 50%;
  }

  .header__button {
    padding: 8px 30px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: variables.$text__color;
    border-radius: 8px;
    border: none;
    background-color: variables.$tertiary__color;
    cursor: pointer;

    
    @include media-query(640px) {
      font-size: 0.6rem;
    }

    &:hover {
      background-color: variables.$contrast__color;
    }
  }
}
