@use "variables";

@mixin media-query($media: 480px) {
  @media screen and (max-width: $media) {
    @content;
  }
}

.main__hero__container {
  height: 100vh;
  background-image: url("../asset/portadacsgo_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__hero__navbar {
  position: relative;
  top: 20px;
  left: 25%;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: variables.$primary__color;
    width: 50%;

    li {
      color: variables.$text__color;
      padding: 8px 15px;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: variables.$tertiary__color;
      }
    }
  }
}

.main__hero__title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 2rem;
}

.main__hero__title {
  width: 60%;
  @include media-query(640px) {
    width: 100%;
  }
  h1 {
    color: variables.$text__color;
    font-size: 3.5rem;
    @include media-query(640px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    color: variables.$contrast__color;
    font-size: 2rem;
    @include media-query(640px) {
      font-size: 1rem;
    }
  }
}

.main__hero__button {
  button {
    @include media-query(640px) {
      font-size: 1rem;
    }
    padding: 8px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: variables.$text__color;
    border-radius: 8px;
    border: none;
    background-color: variables.$tertiary__color;
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
      background-color: variables.$contrast__color;
    }
  }
}

.main__hero__log {
  position: relative;
  top: -10%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    width: 50%;
    background-color: variables.$primary__color;
    border-radius: 10px;
    margin: 0 20px;
    @include media-query(640px) {
      margin: 0 5px;
    }
    p {
      color: variables.$contrast__color;
      padding: 0 15px;
      font-size: 1.5rem;
      text-align: center;

      @include media-query(640px) {
        font-size: 0.7rem;
      }
    }

    span {
      color: variables.$text__color;
      @include media-query(640px) {
        font-size: 0.6rem;
        text-align: center;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

    @include media-query(640px) {
      font-size: 0.7rem;
      overflow: hidden;
      flex-wrap: wrap;
    }

    li {
      color: variables.$contrast__color;
      padding: 8px 15px;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0 1px;
      background-color: variables.$primary__color;
      border-radius: 10px;
      @include media-query(640px) {
        font-size: 0.7rem;
        width: 32%;
      }

      p {
        font-size: 1rem;
        color: variables.$tertiary__color;
        margin-bottom: 5px;

        @include media-query(640px) {
          font-size: 0.7rem;
          margin-bottom: 5px;
        }
      }

      span {
        color: variables.$text__color;
        font-size: 0.7rem;
        @include media-query(640px) {
          font-size: 0.5rem;
        }
      }
    }
  }
}

.main__description__app {
  display: flex;
  flex-direction: column;
  margin: 10vh auto 0;

  h2 {
    color: variables.$contrast__color;
    font-size: 1.7rem;
    margin: 1rem 0;
    text-align: center;

    @include media-query(640px) {
      font-size: 1rem;
      margin: 0;
    }
  }

  .main__description__app__loading {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 24px;

      @include media-query(640px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;

        @include media-query(640px) {
          width: 100%;
        }

        .description__loading {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 5px solid #c3c3c3;
          width: 60px;
          height: 60px;
          border-radius: 50%;

          @include media-query(640px) {
            width: 50px;
            height: 50px;
          }

          span {
            font-size: 0.8rem;
            color: variables.$text__color;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media-query(640px) {
              width: 50px;
              height: 50px;
              font-size: 0.5rem;
            }
          }
        }

        .loading-1 {
          border-left: 5px solid variables.$tertiary__color;
        }

        .loading-2 {
          border-bottom: 5px solid variables.$tertiary__color;
        }

        .loading-3 {
          border-top: 5px solid variables.$tertiary__color;
          border-right: 5px solid variables.$tertiary__color;
        }
      }
      .description__app {
        margin: 1rem;
        @include media-query(640px) {
          width: 90%;
        }
        p {
          color: variables.$tertiary__color;
          font-size: 1.2rem;
          @include media-query(640px) {
            font-size: 0.8rem;
          }
        }
        span {
          color: variables.$text__color;
          @include media-query(640px) {
            font-size: 0.8rem;
            width: 20%;
          }
        }
      }
    }
  }
}
@keyframes loader {
  0% {
    transform: rotate(0);
    border-left: 5px solid rgb(250, 250, 80);
    transition: all 2s;
  }
  50% {
    transform: rotate(0);
    border-left: 5px solid rgb(255, 255, 0);
    transition: all 2s;
  }
  100% {
    transform: rotate(360deg);
    border-left: 5px solid rgb(255, 196, 0);
    transition: all 2s;
  }
}

.description__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  h2 {
    color: variables.$text__color;
    font-size: 1.7rem;
    margin: 2rem 0;
    @include media-query(640px) {
      font-size: 1rem;
    }
  }
  .video {
    iframe{

      @include media-query(640px) {
        margin: auto;
        width: auto;
        height: auto;
      }
    }
  }
}

.description__app__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

  ul {
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100%;

    @include media-query(640px) {
      flex-wrap: wrap;
    }

    li {
      color: variables.$contrast__color;
      padding: 8px 15px;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 5px;
      background-color: variables.$primary__color;
      border-radius: 10px;
      width: 100%;

      @include media-query(640px) {
        width: 100%;
        height: 70px;
      }

      p {
        font-size: 1.5rem;
        color: variables.$contrast__color;
        font-weight: 600;
        @include media-query(640px) {
          font-size: 1rem;
        }
      }

      span {
        color: variables.$text__color;
        font-size: 1rem;
        @include media-query(640px) {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }
  }
}

.description__app__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px;

  @include media-query(640px) {
    flex-direction: column;
  }
}

.description__segurity {
  border-radius: 20px;
  width: 48%;
  background-color: variables.$secundary__color;

  @include media-query(640px) {
    width: 100%;
    margin-bottom: 1rem;
  }

  h2 {
    color: variables.$text__color;
    margin: 1rem;
    font-size: 0.9rem;
  }

  .segurity__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include media-query(640px) {
      flex-direction: column;
    }

    div {
      @include media-query(640px) {
        width: 100%;
        margin-bottom: 1rem;
      }
      h3 {
        font-size: 0.9rem;
        margin: 1rem;
        color: variables.$contrast__color;

        @include media-query(640px) {
          margin: 0 1rem;
        }
      }

      p {
        font-size: 0.8rem;
        margin: 1rem;
        color: variables.$text__color;
        @include media-query(640px) {
          margin: 0 1rem;
        }
      }

      a {
        font-size: 0.8rem;
        margin: 1rem;
        color: variables.$contrast__color;
      }
    }
  }
}

.description__verify {
  width: 48%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  @include media-query(640px) {
    width: 100%;
  }

  div {
    h3 {
      margin: 0.5rem;
      font-size: 2rem;
      color: variables.$tertiary__color;

      @include media-query(640px) {
        font-size: 1rem;
      }
    }

    div {
      margin: 0.5rem;

      p {
        color: variables.$tertiary__color;
      }
    }

    span {
      margin: 0.5rem;
      font-size: 0.6rem;
      color: variables.$secundary__color;
    }
  }
}

.logo__verify {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.star {
  width: 32px;
  height: 32px;

  @include media-query(640px) {
    width: 12px;
    height: 12px;
  }
}
