// Variables

// Color
$primary__color: #0B1C28;
$secundary__color: #1D2532;
$tertiary__color: #0DE5A0;
$contrast__color: #F6B011;
$background__color: #253044;
$text__color: #ffffff;

// Box shadow
$box__shadow: 10px 10px 40px 0px rgba(0,0,0,0.6);